* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
p{
    font-weight: 400;
}

.principal {
    height: 100%;
    /* Flex */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* Estils elements header */
.header {
    background-color: #72e99a;
    width: 100%;
    height: 4em;
    position: fixed;
    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #1d1d1d;
    text-align: center;
    padding: 0.5em;
    border: 2px solid #1d1d1d;
}

.nav a:hover {
    background-color: #1d1d1d;
    color: #72e99a;
}

.input-search {
    border: 2px solid #1d1d1d;
    border-radius: 1em;
    background: #72e99a;
    padding: 0.8em;
    color: #1d1d1d;
}

.input-search::placeholder {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

/* Estils elements contingut */
.div-contingut {
    width: 70%;
    margin-top: 8em;
    margin-bottom: 3em;
    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main {
    margin-right: 1.5em;
    color: #1d1d1d;
    /* Flex */
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
}

.section {
    /* Flex */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.seccio {
    margin-bottom: 2em;
    border-bottom: 2px solid #72e99a;
}

.img-general{
    width: 100%;
    height: auto;
}

.div-articles {
    width: 100%;
    /* Flex */
    display: flex;
    flex-direction: column;
}

.article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #72e99a;
    /* Flex */
    display: flex;
    flex-direction: column;
}

.article:nth-last-child(1) {
    border-bottom: none;
}

.article img {
    margin-bottom: 1em;
}

.article p {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: justify;
}

.a-mes {
    width: 20%;
    text-decoration: none;
    background-color: #72e99a;
    color: #1d1d1d;
    font-size: 14px;
    border-radius: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    /* Flex */
    align-self: center;
}
.a-mes:hover{
    background-color: #1d1d1d;
    color: #72e99a;
}

/* Estils aside */
.aside {
    margin-top: 4em;
    margin-left: 2em;
    /* Flex */
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
}
.div-aside-cançons{
    margin-bottom: 5em;
}
.div-aside-articles{
    margin-bottom: 5em;
}
.ol-cançons{
    margin-left: 1em;
    margin-top: 1em;
}
.li-parells{
    background-color: #72e99a;
}
.ul-articles{
    margin-top: 1em;
    margin-left: 1em;

}
.a-generals{
    color: #1d1d1d;
    text-decoration: none;
}
.a-generals:hover{
    text-decoration: underline;
    text-decoration-color: #1d1d1d;
}
.div-aside-concert img{
    margin-top: 1em;
}
/* Estils elements footer */
.footer {
    background-color: #72e99a;
    width: 100%;
    height: 10em;
    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.ul-footer {
    list-style: none;
}

ul .li-list1 {
    font-weight: bold;
    margin-bottom: 1em;
}

.p-social {
    font-weight: bold;
}

/* Media Query */
@media screen and (max-width: 900px){
    .div-contingut{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .header{
        height: 8em;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .footer{
        height:auto;
        flex-direction: column;
    }
    .div-contacte{
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
    }
    .div-social{
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
    }
    .div-politica{
        width: 100%;
        text-align: center;
    }
}
