*{
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color:gainsboro;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-weight: 400;
}
.div-colors{
    text-align: center;
}
.div-tipus-colors{
    display: inline-block;
    margin-left: 1em;
}
.p-color1{
    background-color: #72e99a;
    padding: 15px;
    width: 7em;
}
.p-color2{
    background-color: #1d1d1d;
    padding: 15px;
    width: 7em;
}
.p-color3{
    background-color: white;
    padding: 15px;
    width: 7em;
}
.div-tipografia{
    text-align: center;
}
.p-negreta{
    font-weight: bold;
    color: green;
}
.a-text{
    color: green;
}

.a-general{
    color: #1d1d1d;
    text-decoration: none;
}
.a-general:hover{
    text-decoration: underline;
    text-decoration-color: #1d1d1d;
}
.div-botons{
    text-align: center;
}
.a-boto {
    text-decoration: none;
    background-color: #72e99a;
    color: #1d1d1d;
    font-size: 14px;
    border-radius: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
.a-boto:hover{
    background-color: #1d1d1d;
    color: #72e99a;
}
.div-icones{
    text-align: center;
}
ul{
    list-style: none;
    margin-right: 2em;
}